In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_excel('/content/CustomerAddress.xlsx')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [ ]:
data

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9
...,...,...,...,...,...,...
3994,3999,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,57042 Village Green Point,4511,QLD,Australia,6
3996,4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
3997,4002,8194 Lien Street,4032,QLD,Australia,7
3998,4003,320 Acker Drive,2251,NSW,Australia,7

In [ ]:
# to check if customer id is unique
pd.Series(data['customer_id']).is_unique

True

In [ ]:
# To check if there are duplicated values
data.duplicated(subset=['address', 'postcode'], keep='first').value_counts()

False    3999
dtype: int64

In [ ]:
# Make sure the customer_id only contains legitimate digits
data['customer_id'] = data['customer_id'].astype('int64')

In [ ]:
data['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [ ]:
# Replacing all the misspelt words
data['state'].replace({'New South Wales': 'NSW', 'Victoria': 'VIC'}, inplace=True)

In [ ]:
data['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [ ]:
data['country'].value_counts()

Australia    3999
Name: country, dtype: int64

In [ ]:
# make sure the column names are in correct format
data.columns = map(str.lower, data.columns)
data.columns = map(str.strip, data.columns)

In [ ]:
data.to_csv('./CustomerAddress_Cleaned.csv',index=False)