In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel('/content/Transactions.xlsx')

In [ ]:
data.head(10)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.00,Approved,Solex,Standard,medium,medium,71.49,53.62,"41,245.00"
1,2,3,3120,2017-05-21,1.00,Approved,Trek Bicycles,Standard,medium,large,"2,091.47",388.92,"41,701.00"
2,3,37,402,2017-10-16,0.00,Approved,OHM Cycles,Standard,low,medium,"1,793.43",248.82,"36,361.00"
3,4,88,3135,2017-08-31,0.00,Approved,Norco Bicycles,Standard,medium,medium,"1,198.46",381.10,"36,145.00"
4,5,78,787,2017-10-01,1.00,Approved,Giant Bicycles,Standard,medium,large,"1,765.30",709.48,"42,226.00"
5,6,25,2339,2017-03-08,1.00,Approved,Giant Bicycles,Road,medium,medium,"1,538.99",829.65,"39,031.00"
6,7,22,1542,2017-04-21,1.00,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,"34,165.00"
7,8,15,2459,2017-07-15,0.00,Approved,WeareA2B,Standard,medium,medium,"1,292.84",13.44,"39,915.00"
8,9,67,1305,2017-08-10,0.00,Approved,Solex,Standard,medium,large,"1,071.23",380.74,"33,455.00"
9,10,12,3262,2017-08-30,1.00,Approved,WeareA2B,Standard,medium,medium,"1,231.15",161.60,"38,216.00"

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [ ]:
# Ensuring transaction_id is unique
data['transaction_id'].is_unique

True

In [ ]:
# Ensuring the product_id contains only int values
data['product_id'] = data['product_id'].astype('int64')

In [ ]:
# Checking which columns have null values  
data.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [ ]:
data['online_order'].value_counts()

1.00    9829
0.00    9811
Name: online_order, dtype: int64

In [ ]:
# Filling the null values with backward fill method
data['online_order'] = data['online_order'].fillna(method='bfill')

In [ ]:
data['online_order'].value_counts()

1.00    10038
0.00     9962
Name: online_order, dtype: int64

In [ ]:
# Checking that the missing values are filled 
data['online_order'].isnull().sum()

0

In [ ]:
data['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [ ]:
# Filling missing values using forward fill method
data['brand'] = data['brand'].fillna(method='ffill')

In [ ]:
# Checking that the missing values are filled 
data['brand'].isnull().sum()

0

In [ ]:
data['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [ ]:
# Filling missing values using forward fill method
data['product_line'] = data['product_line'].fillna(method='ffill')

In [ ]:
# Checking that the missing values are filled 
data['product_line'].isnull().sum()

0

In [ ]:
data['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [ ]:
# Filling missing values using forward fill method
data['product_class'] = data['product_class'].fillna(method='ffill')

In [ ]:
# Checking that the missing values are filled 
data['product_class'].isnull().sum()

0

In [ ]:
data['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [ ]:
# Filling missing values using forward fill method
data['product_size'] = data['product_size'].fillna(method='ffill')

In [ ]:
# Will show the average cost upto 2 decimal places for each customer
pd.set_option('display.float_format',  '{:,.2f}'.format)

In [ ]:
data.describe()

,transaction_id,product_id,customer_id,online_order,list_price,standard_cost,product_first_sold_date
count,"20,000.00","20,000.00","20,000.00","20,000.00","20,000.00","19,803.00","19,803.00"
mean,"10,000.50",45.36,"1,738.25",0.50,"1,107.83",556.05,"38,199.78"
std,"5,773.65",30.75,"1,011.95",0.50,582.83,405.96,"2,875.20"
min,1.00,0.00,1.00,0.00,12.01,7.21,"33,259.00"
25%,"5,000.75",18.00,857.75,0.00,575.27,215.14,"35,667.00"
50%,"10,000.50",44.00,"1,736.00",1.00,"1,163.89",507.58,"38,216.00"
75%,"15,000.25",72.00,"2,613.00",1.00,"1,635.30",795.10,"40,672.00"
max,"20,000.00",100.00,"5,034.00",1.00,"2,091.47","1,759.85","42,710.00"

In [ ]:
# Filling missing values by mean of standard cost and grouping customer id  
Avg_standard_cost = data.groupby(['customer_id']).mean()

In [ ]:
Avg_standard_cost

In [ ]:
data['standard_cost'].isnull().sum()

197

In [ ]:
# Filling missing values by mean of the customers standard_cost
data['standard_cost'] = data['standard_cost'].fillna(Avg_standard_cost.standard_cost)

In [ ]:
data['standard_cost'].isnull().sum()

176

In [ ]:
data['standard_cost'] = data['standard_cost'].fillna(data['standard_cost'].mean())

In [ ]:
data['standard_cost'].isnull().sum()'
'

0

In [ ]:
# filling the missing data with the average first sold date
data['product_first_sold_date'] = data['product_first_sold_date'].fillna(data['product_first_sold_date'].mean())

In [ ]:
data.isnull().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [ ]:
# print to csv after cleaning
data.to_csv('./Transaction_Cleaned.csv', index=False)